#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border:none;
}


.rightDiv img{
  width:50px;
}
.expensesListItem{
  width: 1280px;
  min-width: fit-content;
 max-width: 1280px;
 text-align: left;
 background: rgb(121, 114, 114);
 padding:20px;
 margin:10px;
 font-size: large;
 border-bottom-right-radius: 20px;
 border-top-right-radius: 20px;
border-bottom: 5px solid black;
}
.dataDiv{
  margin-top: 10px;
  display: flex;
  max-width: inherit;
 justify-content: space-between;
 align-items: center;
 background: rgb(121, 114, 114);

}
.leftDiv{
  width:fit-content;

}
.rightDiv{
  width:fit-content;
  text-align: center;
  box-sizing: border-box;
}
.expensesListItem h3{
margin:0;
display:inline-block;
border-bottom: 5px dotted rgb(72, 68, 68);
width:inherit;
padding-bottom: 5px;
}
.category{
  background: rgb(67, 60, 60);
  width:fit-content;
  padding:5px 15px;
  border-radius: 10px;
  margin-top: 10px;
}
.highExpense{
  background: rgb(94, 41, 41);
  width:fit-content;
  padding:5px 15px;
  border-radius: 10px;
  margin-top: 10px;
}
.lowExpense{
  background: rgb(5, 82, 60);
  width:fit-content;
  padding:5px 15px;
  border-radius: 10px;
  margin-top: 10px;
}
.junkButton{
  background: rgb(169, 165, 165);
  width:fit-content;
  padding:5px 10px;
}
.junkButton:hover{
  border:3px solid rgb(219, 215, 215);
}